body {
  margin: 0;
  background-color: #f5f5f5;
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  transform: translateX(-30px);
  opacity: 0;
}

.fade-slide-leave-to {
  transform: translateX(30px);
  opacity: 0;
}
// 额外新增
#app {
  width: 100%;
  max-width: 450px; 
  min-height: 100vh;
  background-color: #f8f5f0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  position: relative;
  margin: 0 auto; 
  box-sizing: border-box; 
  overflow-x: hidden;
}